
	/*--------------------------------------
	|	Stylesheet commune                  |
	 --------------------------------------*/

body {
	text-align:center;
	background-repeat: no-repeat;
	background-size: contain;
	margin :auto;
	padding:0;
	font-familly: sans-serif;
	width:88%;
	height:100vh;
	}
	.v-fs-wrap{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	-webkit-transition-position: fixed;
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	z-index: -20;
}

#title{
	text-align: center;
	font-size: 4em;
	color:#fff;
}
h1 .wi
{
	font-size: 3rem;
	color: #f9d71c;
}
.container
{
	text-align: center;
	margin: auto;
	width: 80%;
}	

.gallilee
{
	float: left;
	margin: 10px 0 20px 10px;
	border-radius: 3%;
	opacity: 0.7;
	box-shadow: 3px 3px 5px black;
}
.gallilee:hover
{
	transform: scale(1.05);
}


.form-control, 
{
	border:2px solid orange;
	background: none;
	color: white;
}

button:hover
{
	color: White;
	font-weight: bold;
	border : 2px solid white;
	box-shadow:2px 2px 2px black;
	background-color: orange;
}
	/*--------------------------------------
	|	Stylesheet de la page annonce       |
	 --------------------------------------*/

 
button
{
	background-color:darkorange;
}
.btn-secondary
{
	background-color:#e50000;
	float: right;	
	border: none;
	border-radius: 3px;	

}
.btn-secondary:hover
{
	color: white;
	font-weight: bold;
	border : none;
	box-shadow:2px 2px 2px black;
	background-color: orange;
	transform: scale(1.05);
}

.btn1
{
	width: 100%;
	margin:0 auto;
	margin-top: 10px;
	text-align: center;	
	border-radius: 3px;
}


.btn-primary:hover
{
	color: white;
	font-weight: bold;
	border : none;
	box-shadow:2px 2px 2px black;
	background-color: orange;
	transform: scale(1.05);
}
.card
{
	margin: 0 auto;
	width: 70%;
	box-shadow: 4px 4px 6px black;
}

h4
{
	color: #fff!important;
}
.card-title,
.h5, h5, .card-header, .wi
{
	font-size: 2rem;
	font-weight: bold;
}
.card-text
{
	font-size: 1rem;
}

.text-muted {
	font-size: 1rem;
    color: #fff!important;
}
.list-group-item
{
	font-size: 1rem;
	font-weight: bold;
}
input 
{
	background: none;
}

footer
{
	height: 150px;
	color: white;

}
footer p
	{
		padding-top: 40px;
		float: none;
		text-align: center;
		width: 100%;
		height: 100%;
		color:white;
		font-size: 1.1rem;

	}
	footer ul li, .fa
	{
		display: inline;
		list-style: none;
		width: 50px;
		height: 50px;
		color: white;
		font-size: 30px;
	
	}
	.fa:hover
	{
		transform: scale(1.5);
		color: orange;
		font-style: normal;
	}